#box1{
    background-color: navy;
    height:55px;
    width:350px;
    top:200px;
    left:100px;
    right:700px;
    position:relative;
}
#box2
{
    background-color:black;
    color:aliceblue;
    height:250px;
    width:350px;
    top:200px;
    left:100px;
    right:700px;
    text-align: left;
    position:relative;

}
#box3
{   background-color:pink;
    color:aliceblue;
    height:80px;
    width:100px;
    top:265px;
    left:130px;
    right:950px;
    position:absolute;
}
#box4{
    background-color: grey;
    height:55px;
    width:350px;
    top:150px;
    left:100px;
    right:700px;
    bottom:600px;
    position:relative;
}