body{
    background-color: black;
}
h1{
    color:whitesmoke;

}
h2{
    color:whitesmoke;
}
#p8{
    color:white;
}
#p1{
    color:whitesmoke;
}
#p2{
    color:whitesmoke;
}
#p3{
    color:whitesmoke;
}
#p4{
    color:whitesmoke;
}
#p5{
    color:whitesmoke;
}
#p6{
    color:whitesmoke;
}
#p7{
    color:whitesmoke;
}
p{
    color:whitesmoke;
}
.odd{
    color:blueviolet;
}
.even{
    color:aquamarine;
}
